<html lang="en">

<!-------------web banner/header--------------->
<%- include('partials/head.ejs') %>

<body>

  <!-------------web banner/header--------------->
  <%- include('partials/banner.ejs') %>


  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs about-container">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h1 class="display-3">Sell an Item</h1>
          <ol>
            <li><a href="/">Home</a></li>
            <li>Shop</li>
          </ol>
        </div>
      </div>
    </div><!-- End Breadcrumbs -->

    <!-- ======= Add an item ======= -->
    <section class="py-5">

      <p class="createBack" href="#" onclick="window.history.back(); return false;">&lt;Back</p>

      <form style="width: 35rem;" class="mx-auto" id="add-item-form" enctype="multipart/form-data">
        <!-- uploader -->

        <input type="hidden" name="uploader" value="<%= user._id %>" required><br>

        <!-- Item image -->
        <label class="form-label" for="itemImg">Upload Image:  </label>
        <input type="file" accept="image/jpeg, image/png, image/jpg" id="itemImg" class="img-input" name="img" onchange="uploadPic()" required><br>
        <div class="warning img-error" id="image-data-error"></div><br>

        <!-- Item name -->
        <label class="form-label" for="itemName">Item Name: </label>
        <input type="text" id="itemName" class="form-control" name="name" required/>

        <!-- Item price -->
        <label class="form-label" for="itemPrice">Price: </label>
        <input type="number" id="itemPrice" class="form-control" name="price" required/>

        <!-- Quantity -->
        <label class="form-label" for="itemQuantity">Quantity: </label>
        <input type="number" id="itemQuantity" class="form-control" name="quantity" required/><br>

        <!-- category -->
        <label class="form-label" for="category">Category: </label><br>

        <input type="radio" id="accessories" value="Accessories" name="category"/>
        <label for="accessories">Accessories</label><br>
        
        <input type="radio" id="toys" value="Toys" name="category"/>
        <label for="toys">Toys</label><br>
        
        <input type="radio" id="feeders" value="Bowls" name="category"/>
        <label for="feeders">Bowls and Feeders</label><br>
        
        <input type="radio" id="health" value="Healthcare" name="category"/>
        <label for="health">Healthcare and Supplies</label><br><br>

        <!-- Item sizes -->
        <label class="form-label" for="size">Size: </label><br>
        <input type="radio" id="sizeSmall" value="small" name="size"/>
        <label for="sizeSmall">Small</label><br>
        <input type="radio" id="sizeMedium" value="medium" name="size"/>
        <label for="sizeMedium">Medium</label><br>
        <input type="radio" id="sizeLarge" value="large" name="size"/>
        <label for="sizeLarge">Large</label><br>
        <input type="radio" id="sizeXL" value="XL" name="size"/>
        <label for="sizeXL">XL</label><br><br>

        <!-- Item brand -->
        <label class="form-label" for="itemBrand">Brand: </label>
        <input type="text" id="itemBrand" class="form-control" name="brand" required/><br>

        <!-- Item description -->
        <label class="form-label" for="itemDescription">Description: </label>
        <textarea class="form-control" id="itemDescription" rows="4" name="description" required></textarea>

        <!-- Submit button -->
        <br>
        <button type="button" class="btn btn-primary btn-block mb-4 submit-button" onclick="submitMerch()">Submit</button>
      </form>
    </section>

  </main>
  <!-- ======= Footer ======= -->
  <%- include('partials/footer.ejs') %>

  <!-- Vendor JS Files -->
  <!-- <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/aos/aos.js"></script>
  <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="assets/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>
  <script src="/assets/js/close-modal.js"></script> -->
  <%- include('partials/scripts.ejs') %>

</body>

</html>