<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>MeowgAw | Profile</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="assets/img/favicon.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!--fontawesome-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">

  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&family=Amatic+SC:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Inter:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
    rel="stylesheet">

  <!----addtional bootstrap---->
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

  <!-- Icons dependencies -->
  <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
  <link href="https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

  <!-- Vendor CSS Files -->
  <link href="/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="/assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="/assets/css/main.css" rel="stylesheet">
  <!---gallery css--->
  <link href="/assets/css/gallery.css" rel="stylesheet">
  <!---about css--->
  <link href="/assets/css/about.css" rel="stylesheet">
  <!---donate css--->
  <link href="/assets/css/donate.css" rel="stylesheet">
  <!---blog css--->
  <link href="/assets/css/blog.css" rel="stylesheet">
  <!---profile/dashboard css--->
  <link href="/assets/css/profile.css" rel="stylesheet">
  <!---profile/admin dashboard css--->
  <link href="/assets/css/style.css" rel="stylesheet">

  <!-- =======================================================
  * Edit with caution
  * KM2JS
  ======================================================== -->
</head>

<body>
  <% const admin=locals.user %>
    <!-------------web banner/header--------------->
    <%- include('partials/banner.ejs') %>

      <main>

        <!-- ======= Breadcrumbs ======= -->
        <div class="breadcrumbs gallery-container mb-3">
          <div class="container">

            <div class="d-flex justify-content-between align-items-center">
              <h1 class="display-3">Admin Dashboard</h1>
              <ol>
                <li><a href="/">Home</a></li>
                <li>Admin Dashboard</li>
              </ol>
            </div>
          </div>
        </div><!-- End Breadcrumbs -->

        <!-- modal for every object (user,stray,etc) in the dashboard -->
        <div id="descModal" class="strayModal">
          <div class="descContainer">
            <span class="close" onclick="closeDesc('descModal')">&times;</span>
            <div id="desc">
              <!---content in js---->
            </div>
          </div>
        </div>
        <!-- user popup update after role is updated -->
        <div id="result-popup" class="popup">
          <div class="popup-content" id="popup-content">
            <span class="close" onclick="closePopup('result-popup')">&times;</span>
            <h1 id="result">USER ROLE UPDATED</h1>
          </div>
        </div>
        <!-- create an faq -->
        <div id="add-faqs-popup" class="popup">
          <div class="popup-content" id="popup-content">
            <span class="close" onclick="closePopup('add-faqs-popup')">&times;</span>
            <h3>Add a FAQs Component</h3>
            <form class="faqCreate" id="faqCreate">

              <input type="hidden" name="faqUploader" id="faqUploader" value="<%= admin._id %>">
              <label for="question">Question</label><br>
              <input type="text" name="question" id="question" required>
              <label for="answer">Answer</label><br>
              <input type="text" name="answer" id="answer" required>
              <button type="submit" class="submit">Add</button>
            </form>
          </div>
        </div>
        <div id="edit-faqs-popup" class="popup">
          <div class="popup-content edit-faqs-popup" id="popup-content">

          </div>
        </div>


        <div class="container">

          <div class="dash-buttons">

            <ul class="list-inline">
              <li class="list-inline-item activitiesBtn" onclick="showDashContent('users')">Users</li>
              <li class="list-inline-item activitiesBtn" onclick="showDashContent('strays')">Strays</li>
              <li class="list-inline-item activitiesBtn" onclick="showDashContent('donations')">Donations</li>
              <li class="list-inline-item activitiesBtn" onclick="showDashContent('blogs')">Blogs</li>
              <li class="list-inline-item activitiesBtn" onclick="showDashContent('shop')">Shop</li>
              <li class="list-inline-item activitiesBtn" onclick="showDashContent('faqs')">FAQs</li>
              <li class="list-inline-item activitiesBtn" onclick="showDashContent('messages')">Messages</li>
              <li class="list-inline-item activitiesBtn" onclick="showDashContent('adopt')">Adopt</li>
              <br>
              <hr>
            </ul>

          </div>

          <div class="dash-contents">
            <!------Users------>
            <div id="users">

              <div class="row justify-content-between">
                <% if (users.length> 0) {%>
                  <% users.forEach(user=> { %>
                    <div class="user-acct-details dash-container col-md-3 m-2 p-2">
                      <div class="user-acct-image dash-image">

                        <% if (user.profilePicture) { %>
                          <img class="img-fluid"
                            src="data:image/png; base64,<%= user.profilePicture.toString('base64') %>"
                            alt="<%= user.name %>">
                          <% } else { %>
                            <img class="img-fluid" src="/assets/img/favicon.png">
                            <% } %>
                      </div>

                      <div class="user-acct-info dash-info">
                        <p>Name: <%= user.name %>
                        </p>
                        <p>Username: <%= user.username %>
                        </p>
                        <p>Email: <%= user.email %>
                        </p>
                        <p>Role: <%= user.role %>
                        </p>
                      </div>

                      <div class="crud-btns">
                        <% if (admin.role==='superadmin' && user.role!=='superadmin' ) {%> <button onclick="
                  showUser('<%= user.profilePicture %>', 
                  '<%= user.name %>', 
                  '<%= user.username %>', 
                  '<%= user.email %>', 
                  '<%= user.role %>');
                  editRole('<%= user._id %>')" class="standard-button">Edit</button>
                          <button onclick="userDelete('<%= user._id %>')" class="danger">Block</button>
                          <% } else { %>
                            <button disabled="true" style="opacity: 0.5;" class="danger">Block</button>
                            <% } %>

                      </div>
                    </div>

                    <% }) %>
                      <% } else { %>
                        There are no users to display
                        <% } %>

              </div>
            </div>

            <!-- strays content goes here -->
            <div id="strays">
            </div>

            <!-- donations content goes here -->
            <div id="donations">
            </div>

            <!-- blogs content goes here -->
            <div id="blogs">
            </div>

            <!-- shop content goes here -->
            <div id="shop">
            </div>

            <!-- faqs content goes here -->
            <div id="faqs">
            </div>

            <!-- messages content goes here -->
            <div id="messages">
            </div>

            <!-- adopt content goes here -->
            <div id="adopt">
            </div>
          </div>

      </main>

      <%- include('partials/footer.ejs') %>


        <!--------------scripts-------------->
        <script src="/assets/js/admin-modal.js"></script>
        <%- include('partials/scripts.ejs') %>
</body>

</html>