<!DOCTYPE html>

<html lang="en" dir="ltr">

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>MeowgAw</title> 
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
		<!---------------favicon----------------->
		<link rel="shortcut icon" type="image/png" href="/pics/icon.png">
		<link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
		<link href="https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css" rel="stylesheet">
		<link rel= "stylesheet" href="/css/style.css">
		<link rel= "stylesheet" href="/css/userstyle.css">
	</head>

	<body>
		<% user = JSON.stringify(user) %>
		<% console.log((user.JSON)) %>

		<!-------------header--------------->
		<%- include('partials/banner.ejs') %>

		<!------------body---------------->
		<div class="container">

			<div class="buttons-container">
				<button class="active" data-content="users">Users</button>
        		<button data-content="strays">Strays</button>
				<button data-content="submissions">Submissions</button>
				<button data-content="donations">Donations</button>
				<button data-content="blogs">Blogs</button>
				<button data-content="faqs">FAQs</button>
				<button data-content="messages">Messages</button>
			</div>

			<div class="content-container" id="content-container">
				<!--users-->
		        <div id="content-users" class="contentStray show">
		        	
						<% if (users.length > 0) {%>
							<% users.forEach(user => { %>
								<div class="user-acct-details dash-container">
								<div class="user-acct-image dash-image">
									<% if (user.profilePicture) { %>
										<img src="data:image/png; base64,<%= user.profilePicture.toString('base64') %>" alt="<%= user.name %>">
									<% } else { %>
										<img src="/pics/stray1.jpg">
									<% } %>
								</div>
		
								<div class="user-acct-info dash-info">
									<p>Name: <%= user.name %></p>
									<p>Username: <%= user.username %></p>
									<p>Email: <%= user.email %></p>
									<p>Role: <%= user.role %></p>
								</div>
		
								<div class="crud-btns">
									<button onclick="">Edit</button>
									<button>Block</button>
								</div>

								</div>
							<% }) %>
						<% } else { %>
							There are no users to display
						<% } %>

		        	
		        </div>

		        <!--strays-->
		        <div id="content-strays" class="contentStray">
					<% strays = JSON.parse(strays)%>
					<% if (strays.length > 0) {%>
						<% strays.forEach(stray => { %>

							<div class="dash-container">

								<div class="dash-image">
									<img src="data:image/png; base64,<%= stray.imgData.toString('base64') %>" alt="<%= stray.name %>">
								</div>
		
								<div class="dash-info">
									<p>Name: <%= stray.name %></p>
									<p>Age: <%= stray.age %></p>
									<p>Gender: <%= stray.gender %></p>
									<p>Breed: <%= stray.breed %></p>
									<p>Status: <%= stray.status %></p>
								</div>
		
								<div class="crud-btns">
									<button>Edit</button>
									<button>Delete</button>
								</div>
		
							</div>

						<% }) %>
					<% } else { %>
						There are no strays to display
					<% } %>

		        </div>

		        <!--strays-submissions-->
		        <div id="content-submissions" class="contentStray">
					<h3>APPROVED</h3>
						
						<% if (approvedStrays.length > 0) {%>
							<% approvedStrays.forEach(stray => { %>

								<div class="dash-container">

									<div class="dash-image">
										<img src="data:image/png; base64,<%= stray.imgData.toString('base64') %>" alt="<%= stray.name %>">
									</div>
			
									<div class="dash-info">
										<p>Submitted by: <%=  %></p>
										<p>Name: <%= stray.name %></p>
										<p>Age: <%= stray.age %></p>
										<p>Gender: <%= stray.gender %></p>
										<p>Breed: <%= stray.breed %></p>
										<p>Status: <%= stray.status %></p>
									</div>
			
									<div class="crud-btns">
										<button>View</button>
										<button>Delete</button>
									</div>

								</div>
							<% }) %>
						<% } else { %>
							There are no strays to display
						<% } %>

					<h3>PENDING</h3>
		        	
						<% if (pendingStrays.length > 0) {%>
							<% pendingStrays.forEach(stray => { %>

								<div class="dash-container">

									<div class="dash-image">
										<img src="data:image/png; base64,<%= stray.imgData.toString('base64') %>" alt="<%= stray.name %>">
									</div>
			
									<div class="dash-info">
										<p>Submitted by: <%= stray.uploader.username %></p>
										<p>Name: <%= stray.name %></p>
										<p>Age: <%= stray.age %></p>
										<p>Gender: <%= stray.gender %></p>
										<p>Breed: <%= stray.breed %></p>
										<p>Status: <%= stray.status %></p>
									</div>
			
									<div class="crud-btns">
										<button>Approve</button>
										<button>Delete</button>
									</div>

								</div>
							<% }) %>
						<% } else { %>
							There are no strays to display
						<% } %>

		        	

					<button class="add-stray" onclick="location.href='/create'">Add a Stray</button>
		        </div>

		        <!--donation-->
		        <div id="content-donations" class="contentStray">
					<div class="dash-container">
						<% if (currentInventory) {%>

							<div class="dash-info">
								<p>Current total money: <%= currentInventory.amount %></p>
								<p>This week's expenses: <%= currentInventory.weeklyExpenses %></p>
								<p>Current week: <%= currentInventory.week.start %> to <%= currentInventory.week.end %></p>
								<p>Rescued animals: <%= currentInventory.rescuedAnimals %></p>
							</div>
	
							<div class="crud-btns">
								<button>Edit</button>
								<button>Delete</button>
							</div>
							<!-- <div class="dash-container">

								<div class="dash-image">
									<img src="/pics/stray1.jpg">
								</div>
		
								
		
							</div> -->
						<% } else { %>
							There is no inventory to display
						<% } %>
						</div>
		        	
		        </div>

		        <!--blogs-->
		        <div id="content-blogs" class="contentStray">
					
					<% if (pendingBlogs.length > 0) {%>
						<% pendingBlogs.forEach(blog => { %>
							<div class="dash-container">

								<div class="dash-image">
									<img src="/pics/stray1.jpg">
								</div>
		
								<div class="dash-info">
									<p>Posted by: <%= blog.uploader.name %></p>
									<p>Title: <%= blog.title %></p>
									<p>Content: <%= blog.body %></p>
									<p>Status: <%= blog.status %></p>
								</div>
		
								<div class="crud-btns">
									<button>Approve</button>
									<button>Delete</button>
								</div>
		
							</div>

						<% }) %>
					<% } else { %>
						There are no blogs to display
					<% } %>
				
		        	
		        </div>

		        <!--faqs-->
		        <div id="content-faqs" class="contentStray">
		        	<div class="dash-container">
		            	Content for faqs
		        	</div>
		        </div>

		        <!--messages-->
		        <div id="content-messages" class="contentStray">
					
					<% if (messages.length > 0) {%>
						<% messages.forEach(message => { %>
							<div class="dash-container">

								<div class="dash-image">
									<img src="/pics/stray1.jpg">
								</div>
		
								<div class="dash-info">
									<p>Sent by: <%= message.senderName %> | <%= message.senderEmail %></p>
									<p>Content: <%= message.body %></p>
								</div>
		
								<div class="crud-btns">
									<button>Acknowledge</button>
									<button>Delete</button>
								</div>
		
							</div>

						<% }) %>
					<% } else { %>
						There are no messages to display
					<% } %>
					
		        </div>
		    </div>
		</div>

		<!--------------scripts-------------->
		<script src="https://unpkg.com/scrollreveal"></script>
		<script src="/js/sliderscript.js"></script>
		<script src="/js/script.js"></script>
		<script src="/js/userscript.js"></script>

	</body>
</html>