<!DOCTYPE html>

<html lang="en" dir="ltr">

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>MeowgAw</title> 
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
		<!---------------favicon----------------->
		<link rel="shortcut icon" type="image/png" href="/pics/icon.png">
		<link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
		<link href="https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css" rel="stylesheet">
		<link rel= "stylesheet" href="/css/style.css">
		<link rel= "stylesheet" href="/css/userstyle.css">
	</head>

	<body>
		

		<!-------------header--------------->
		<%- include('partials/banner.ejs') %>
		<% user = JSON.parse(user) %>

		<!-- modal for every object (user,stray,etc) in the dashboard -->
		<div id="descModal" class="strayModal">
			<div class="descContainer">
			  <span class="close" onclick="closeDesc('descModal')" style="color:#a96357;">&times;</span>
			  <div id="desc">
				<!---content in js---->
			  </div>
			</div>
		</div>
		<!-- user popup update after role is updated -->
		<div id="result-popup" class="popup">
			<div class="popup-content" id="popup-content">
				<span class="close" onclick="closePopup('result-popup')">&times;</span>
				<h1 id="result">USER ROLE UPDATED</h1>
			</div>
		</div>
		<!-- create an faq -->
		<div id="add-faqs-popup" class="popup">
			<div class="popup-content" id="popup-content">
				<span class="close" onclick="closePopup('add-faqs-popup')">&times;</span>
				<h3>Add a FAQs Component</h3>
				<form class="faqCreate" id="faqCreate">

					<input type="hidden" name="faqUploader" id="faqUploader" value="<%= admin._id %>">
					<label for="question">Question</label><br>
					<input type="text" name="question" id="question" required>
					<label for="answer">Answer</label><br>
					<input type="text" name="answer" id="answer" required>
					<button type="submit" class="submit">Add</button>
				</form>
			</div>
		</div>
		<div id="edit-faqs-popup" class="popup">
			<div class="popup-content edit-faqs-popup" id="popup-content">
				
			</div>
		</div>
		<!-- <div id="add-inventory-popup" class="popup">
			<div class="popup-content" id="popup-content">
				<span class="close" onclick="closePopup('add-inventory-popup')">&times;</span>
				<h3>Add Weekly Inventory</h3>
				<form action="" class="inventoryCreate" id="faqCreate">
					<input type="hidden" name="uploader" value="<%= user._id %>">
					<label for="amount">Total money</label><br>
					<input type="number" name="amount" value="<%= inventory[0].amount %>" required>
					<label for="weeklyExpenses">This week's expenses</label><br>
					<input type="number" name="weeklyExpenses" value="<%= inventory[0].weeklyExpenses %>" required>
					<label for="weekStart">Start of the week</label><br>
					<input type="date" name="weekStart" required>
					<label for="weekEnd">End of the week</label><br>
					<input type="date" name="weekEnd" required>
					<label for="rescuedAnimals">This week's rescued animals</label><br>
					<input type="number" name="rescuedAnimals" value="<%= inventory[0].rescuedAnimals %>" required>

					<button type="submit" class="submit">Add</button>
				</form>
			</div>
		</div> -->
		<!------------body---------------->
		<div class="container">

			<div class="buttons-container">
				<button class="active" data-content="users">Users</button>
        		<button data-content="strays">Strays</button>
				<button data-content="submissions">Submissions</button>
				<button data-content="donations">Donations</button>
				<button data-content="blogs">Blogs</button>
				<button data-content="faqs">FAQs</button>
				<button data-content="messages">Messages</button>
			</div>
			

			<div class="content-container" id="content-container">
				<!--users-->
		        <div id="content-users" class="contentStray show">
		        	
						<% if (users.length > 0) {%>
							<% users.forEach(user => { %>
								<div class="user-acct-details dash-container">
									<div class="user-acct-image dash-image">
										
										<% if (user.profilePicture) { %>
											<img src="data:image/png; base64,<%= user.profilePicture.toString('base64') %>" alt="<%= user.name %>">
											
										<% } else { %>
											<img src="/pics/stray1.jpg">
											
										<% } %>
									</div>
			
									<div class="user-acct-info dash-info">
										<p>Name: <%= user.name %></p>
										<p>Username: <%= user.username %></p>
										<p>Email: <%= user.email %></p>
										<p>Role: <%= user.role %></p>
									</div>
			
									<div class="crud-btns">
										<button onclick="
											showUser('<%= user.profilePicture %>', 
											'<%= user.name %>', 
											'<%= user.username %>', 
											'<%= user.email %>', 
											'<%= user.role %>');
											editRole('<%= user._id %>')">Edit</button>
										<button onclick="userDelete('<%= user._id %>')">Block</button>
									</div>
								</div>

								

							<% }) %>
						<% } else { %>
							There are no users to display
						<% } %>

		        	
		        </div>

		        <!--strays-->
		        <div id="content-submissions" class="contentStray">
					<% strays = JSON.parse(strays)%>
					<% if (strays.length > 0) {%>
						<% strays.forEach(stray => { %>

							<div class="dash-container">

								<div class="dash-image">
									<img src="data:image/png; base64,<%= stray.imgData.toString('base64') %>" alt="<%= stray.name %>">
								</div>
		
								<div class="dash-info">
									<p>Name: <%= stray.name %></p>
									<p>Age: <%= stray.age %></p>
									<p>Gender: <%= stray.gender %></p>
									<p>Breed: <%= stray.breed %></p>
									<p>Status: <%= stray.status %></p>
								</div>
		
								<div class="crud-btns">
									<button onclick="approveAdoption('<%= stray._id %>');">Approve</button>
									<button>Delete</button>
								</div>
		
							</div>

						<% }) %>
					<% } else { %>
						There are no strays to display
					<% } %>

		        </div>

		        <!--strays-submissions-->
		        <div id="content-strays" class="contentStray">
					<!-- create stray. redirected to /create page -->
					<button class="add-stray" onclick="location.href='/create'">Add a Stray</button>
					<h3>APPROVED</h3>
						
						<% if (approvedStrays.length > 0) {%>
							<% approvedStrays.forEach(stray => { %>

								<div class="dash-container">

									<div class="dash-image">
										<img src="data:image/png; base64,<%= stray.imgData.toString('base64') %>" alt="<%= stray.name %>">
									</div>
			
									<div class="dash-info">
										<p>Submitted by: <%=  %></p>
										<p>Name: <%= stray.name %></p>
										<p>Age: <%= stray.age %></p>
										<p>Gender: <%= stray.gender %></p>
										<p>Breed: <%= stray.breed %></p>
										<p>Status: <%= stray.status %></p>
									</div>
									<div class="crud-btns">
										<button onclick="
											showStray('<%= JSON.stringify(stray) %>')">View</button>
										<button onclick="strayDelete('<%= stray._id %>');">Delete</button>
									</div>

								</div>
							<% }) %>
						<% } else { %>
							There are no strays to display
						<% } %>

					<h3>PENDING</h3>
		        	
						<% if (pendingStrays.length > 0) {%>
							<% pendingStrays.forEach(stray => { %>

								<div class="dash-container">

									<div class="dash-image">
										<img src="data:image/png; base64,<%= stray.imgData.toString('base64') %>" alt="<%= stray.name %>">
									</div>
			
									<div class="dash-info">
										<p>Submitted by: <%= stray.uploader.username %></p>
										<p>Name: <%= stray.name %></p>
										<p>Age: <%= stray.age %></p>
										<p>Gender: <%= stray.gender %></p>
										<p>Breed: <%= stray.breed %></p>
										<p>Status: <%= stray.status %></p>
									</div>
			
									<div class="crud-btns">
										<button onclick="approveStray('<%= stray._id %>');">Approve</button>
										<button onclick="strayDelete('<%= stray._id %>');">Delete</button>
									</div>

								</div>
							<% }) %>
						<% } else { %>
							There are no strays to display
						<% } %>


					
		        </div>

		        <!--donation-->
		        <div id="content-donations" class="contentStray">
					<% if (donation) {%>

						<% donation.forEach(donate => { %>
							<div class="dash-container">
							<div class="dash-info">
								<p>Donor: <%= donate.donor %></p>
								<p>Donation Amount: <%= donate.donation.amount %></p>
								<p>Transaction Type: <%= donate.donation.paymentType %></p>
								<p>Account Number: <%= donate.donation.accountNumber %></p>
								<p>Account Name: <%= donate.donation.accountName %></p>
								<p>Phone Number: <%= donate.phoneNumber %></p>
								<p>Transaction Date: <%= donate.createdAt %></p>
							</div>
	
							<div class="crud-btns">
								<button onclick="viewDonation('<%= JSON.stringify(donate) %>')">View</button>
								<button onclick="deleteDonation('<%= donate._id %>');">Delete</button>
							</div>
						</div>
						<% }); %>
					<% } else { %>
						There is no donation report to display
					<% } %>
						
		        	
		        </div>

		        <!--blogs-->
		        <div id="content-blogs" class="contentStray">
					
					<% if (pendingBlogs.length > 0) {%>
						<% pendingBlogs.forEach(blog => { %>
							<div class="dash-container">

								<div class="dash-image">
									<img src="/pics/stray1.jpg">
								</div>
		
								<div class="dash-info">
									<p>Posted by: <%= blog.uploader.name %></p>
									<p>Title: <%= blog.title %></p>
									<p>Content: <%= blog.body %></p>
									<p>Status: <%= blog.status %></p>
								</div>
		
								<div class="crud-btns">
									<button onclick="approveBlog('<%= blog._id %>');">Approve</button>
									<button onclick="deleteBlog('<%= blog._id %>');">Delete</button>
								</div>
		
							</div>

						<% }) %>
					<% } else { %>
						There are no pending blogs to display
					<% } %>
				
		        	
		        </div>

		        <!--faqs-->
		        <div id="content-faqs" class="contentStray">
				<!-- create stray. redirected to /create page -->
				<button class="add-stray" onclick="
				openPopup('add-faqs-popup');
				addFaqs();
				">Add an faqs</button>		
						<% if (faqs.length > 0) {%>
							<% faqs.forEach(faqs => { %>

								<div class="dash-container">
			
									<div class="dash-info">
										<p>Question: <%= faqs.question %></p>
										<h4>Answer: <%= faqs.answer %></h4><br>
										<h5>Uploaded by: <%= faqs.uploader.username %></h5>
										
									</div>
			
									<div class="crud-btns">
										<button onclick="
											editFaqs('<%= JSON.stringify(faqs) %>');
											faqChange('<%= faqs._id %>');">Edit</button>
										<button onclick="deleteFaqs('<%= faqs._id %>');">Delete</button>
									</div>
			
								</div>
							<% }) %>
						<% } else { %>
							There are no approved faqs to display
						<% } %>

					
		        </div>

		        <!--messages-->
		        <div id="content-messages" class="contentStray">
					
					<% if (messages.length > 0) {%>
						<% messages.forEach(message => { %>
							<div class="dash-container">

								<div class="dash-image">
									<img src="/pics/stray1.jpg">
								</div>
		
								<div class="dash-info">
									<p>Sent by: <%= message.senderName %> | <%= message.senderEmail %></p>
									<p>Content: <%= message.body %></p><br>
									<h6>Status: <%= message.status %></h6>
								</div>
		
								<div class="crud-btns">
									<button onclick="acknowledgeMessage('<%= message._id %>');">Acknowledge</button>
									<button onclick="deleteMessage('<%= message._id %>');">Delete</button>
								</div>
		
							</div>

						<% }) %>
					<% } else { %>
						There are no messages to display
					<% } %>
					
		        </div>
		    </div>
		</div>

		<!--------------scripts-------------->
		<script src="https://unpkg.com/scrollreveal"></script>
		<script src="/js/admin-modal.js"></script>
		<script src="/js/sliderscript.js"></script>
		<script src="/js/script.js"></script>
		<script src="/js/userscript.js"></script>

	</body>
</html>