<!DOCTYPE html>
<html lang="en">

<%- include('partials/head.ejs') %>

<body>

  <!-------------web banner/header--------------->
  <%- include('partials/banner.ejs') %>

  <!--gallery banner-->
  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs gallery-container mb-3">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h1 class="display-3">Gallery</h1>
          <ol>
            <li><a href="/">Home</a></li>
            <li>Gallery</li>
          </ol>
        </div>
      </div>
    </div><!-- End Breadcrumbs -->

  <div class="container p-1">

    <div class="mb-4">

      <div class="categoryButtons">
        <select class="categoryDropdown" id="categoryDropdown">
          <option value="all" selected>All</option>
          <option value="cat">Cat</option>
          <option value="dog">Dog</option>
          <option value="dog">Reptile</option>
          <option value="other">Other</option>
        </select>

        <select class="categoryDropdown" id="colorDropdown">
          <option value="all" selected>Color</option>
          <option value="Brown">Brown</option>
          <option value="Black">Black</option>
          <option value="Gray">Gray</option>
          <option value="Orange">Orange</option>
        </select>

        <select class="categoryDropdown" id="sexDropdown">
          <option value="all" selected>Sex</option>
          <option value="male">Male</option>
          <option value="female">Female</option>
        </select>

        <select class="categoryDropdown" id="ageDropdown">
          <option value="all" selected>Age Range</option>
          <option value="one"> 1 year old </option>
          <option value="one-two">1 - 2 years old</option>
          <option value="three-four">3 - 4 years old</option>
          <option value="five">>5 years old</option>
        </select>
      </div>
    </div>

    <!-------container/wrapper for stray cards----->
    <div class="row galleryWrapper">
      
    </div>

    <!-- Modal for displaying stray details -->
    <div class="modal fade" id="strayModal" tabindex="-1" role="dialog" aria-labelledby="strayModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title" id="strayModalLabel">Details</h1>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="closeModal()">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div id="strayDetailsContent">
              <!-- Stray details will be displayed here -->
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

  <!-- End -->

  <!-------------footer--------------->
  <%- include('partials/footer.ejs') %>


  <!--------------scripts-------------->
  <!--<script> const strays = `<%- strays %>`; const user = `<%- user %>` </script>-->
  <script> const strays = `<%- strays %>`; const user = `<%- user %>` </script>
  <%- include('partials/scripts.ejs') %>


</body>

</html>