<!DOCTYPE html>

<html lang="en" dir="ltr">

	<%- include('partials/head.ejs') %>

	<body>
	<!-------------header--------------->
	<%- include('partials/banner.ejs') %>

		<!---gallery banner---->
		<div class="galleryBanner">

			<div class="searchBar">
				<input type="search" placeholder="Search...">
    			<button type="submit"><i class="fas fa-search"></i></button>
    		</div>

			<div class="categoryButtons">
			    <select class="categoryDropdown" id="categoryDropdown">
			        <option value="all" selected>All</option>
			        <option value="cat">Cat</option>
			        <option value="dog">Dog</option>
			        <option value="other">Other</option>
			    </select>

			    <select class="categoryDropdown" id="colorDropdown">
			        <option value="all" selected>Color</option>
			        <option value="Brown">Brown</option>
			        <option value="Black">Black</option>
			        <option value="Gray">Gray</option>
			        <option value="Orange">Orange</option>
			    </select>

			    <select class="categoryDropdown" id="sexDropdown">
			        <option value="all" selected>Sex</option>
			        <option value="male">Male</option>
			        <option value="female">Female</option>
			    </select>

			    <!-- Search button to trigger filtering based on the selected dropdowns -->
			    <button onclick="searchStrayData()">Search</button>
			</div>
	  	</div>

	  	<div class="galleryContent">
	  		<div id="descModal" class="strayModal">
				<div class="descContainer">
				  <span class="close" onclick="closeDesc('descModal')" style="color:#a96357;">&times;</span>
				  <div id="desc">
					<!---content in js---->
				  </div>
				</div>
		  	</div>

			<div class="galleryBody">
				<div class="strayContainer">
					<!---content in js---->
				</div>
			</div>
		</div>

	</div>

		<!-------------footer--------------->
		<%- include('partials/footer.ejs') %>


		<!--------------scripts-------------->
		<script src="js/userscript.js"></script>
		<script src="https://unpkg.com/scrollreveal"></script>
		<script src="js/sliderscript.js"></script>
		<script src="js/script.js"></script>
		<script src="js/hide-warning.js"></script>
		
		<!-- top script is importing the data from the server to the client side -->
		<script> const strays = `<%- strays %>`; const user = `<%- user %>` </script>
		<script src="js/galleryscript.js"></script>
		
	</body>
</html>