<!DOCTYPE html>

<html lang="en" dir="ltr">

	<%- include('partials/head.ejs') %>

	<body>
	<!-------------web banner/header--------------->
		<%- include('partials/banner.ejs') %>

		<!-------------banner--------------->
		<section class="menu">
			<div class="menu-text">
				<h5>K<sup>2</sup>MJS</h5>
				<h4>Find Your Furry Soulmate</h4>
				<h1>MeowgAw</h1>
				<p>Welcome to MeowgAw! We're dedicated to finding loving FURever homes for our furry friends. Discover a variety of adorable and playful pets, from cuddly cats to energetic dogs, waiting to bring joy into your life. Let's create a world where every pet finds a loving home.</p>
				<button class="menu-btn button2" onclick="location.href='/gallery'">Check-out strays</button>
				<button class="menu-btn button2">Donate</button>
			</div>

			<div class="menu-img">
				<img src="pics/catto.png">
			</div>
		</section>

		<!-------------icons-------------->
		<div class="icons">
			<a href="#"><i class="ri-instagram-fill"></i></a>
			<a href="#"><i class="ri-youtube-fill"></i></a>
			<a href="#"><i class="ri-facebook-circle-fill"></i></a>
		</div>

		<div class="scroll-down">
		    <a href="#footer" id="scroll-link">
		      <i class="ri-arrow-down-line"></i>
		    </a>
		 </div>

		<!-------------adoption info----------->
		<div class="infosection">
			<h2>Planning to Adopt a Pet?</h2>

			<div id="infos">
				<div class="info-card">
					<h4>Checklist for New Adopters</h4>
					<img class="infoimg" src="pics/Checklist.png">
					<p>Make your adoption exper as smooth as possible.</p>
					<button class="button1">Learn More</button>
				</div>

				<div class="info-card">
					<h4>Furparent Guide 101</h4>
					<img class="infoimg" src="pics/info.png">
					<p>All you need to know on what to expect as a new pet owner.</p>
					<button class="button1">Learn More</button>
				</div>

				<div class="info-card">
					<h4>FAQs About Pet Adoption</h4>
					<img class="infoimg" src="pics/adoption.png">
					<p>Get answers to all of your questions about pet adoption.</p>
					<button class="button1">Learn More</button>
				</div>
			</div>
		</div>

		<!------------slider-------------->
		<div class="slider-container">
			<h2>Strays Available for Adoption</h2>
			<div class="slider">

				  <div class="wrapper">
				    <i id="left" class="fa-solid fa-angle-left"></i>
				    <div class="carousel">

						<% if (strays.length > 0) {%>
							<% strays.slice(0, 10).forEach(stray => { %>

								<div class="card">
									<img src=<%= stray.imgSrc %>>
									<h3><%= stray.name %></h3>
								</div>

							<% }) %>
						<% } else { %>
							<p>There are no strays to display</p>
							<% } %>

				    </div>
				    <i id="right" class="fa-solid fa-angle-right"></i>
				  </div>
			 </div>

			 <button class="slide-btn button1" onclick="location.href='/gallery'">View more</button>
		</div>

		<!-------------footer--------------->
		<%- include('partials/footer.ejs') %>


		<!--------------scripts-------------->
		<script src="https://unpkg.com/scrollreveal"></script>
		<script src="js/sliderscript.js"></script>
		<script src="js/script.js"></script>

	</body>

</html>
