<!DOCTYPE html>
<html lang="en">

<%- include('partials/head.ejs') %>

<body>

  <!-------------web banner/header--------------->
  <%- include('partials/banner.ejs') %>


  <div class="profileWrapper">

    <div class="container mt-5">

      <div class="row pt-3">

        <div class="col-md-4 pt-5" style="background-color: ;">

            <img class="profilePic h-50 pt-5 d-block mx-auto" src="assets/img/favicon.png">

            <div class="userDetails text-center mt-3">
              <h4 class="userName">Username</h4>
              <p class="name light">Real Name</p>
              <p class="email light">email@gmail.com</p>
            </div>

            <div class="profileButtons text-center mt-3">
              <button class="edit w-50">Edit Profile</button>
              <button class="delete w-50">Delete Account</button>
            </div>

        </div>

        <div class="col-md-8 pt-5" style="background-color: ; overflow-y: auto;">

          <div class="userActivities m-3 h-7 p-4">

            <!----buttons---->
            <ul class="list-inline">
              <li class="list-inline-item activitiesBtn" onclick="showContent('blogs')">Blog</li>
              <li class="list-inline-item activitiesBtn" onclick="showContent('submissions')">Submission</li>
              <li class="list-inline-item activitiesBtn" onclick="showContent('favorites')">Favorites</li>
              <li class="list-inline-item activitiesBtn" onclick="showContent('cart')">Cart</li>
              <hr>
            </ul>

            <!-----blogs content------>
            <div class="profile-blog-content user-act" id="profile-blog-content">
              <form class="post-blog">
                <h3>Share something with the community...</h3>
                <input placeholder="Title..." type="text" name="title"><br>
                <textarea placeholder="Content..." name="body"></textarea><br>
                <input type="hidden" name="uploader" value="<%= user._id %>">
                <button>Post</button>
              </form>

              <div class="posted-blogs">
                  <h3>You have no posts yet.</h3>
                    <h3>Blog Title</h3>
                    <p class="userBlogBody"></p><br>
                    <p class="userBlogStatus"></p>
                    <br><hr><br>
              </div>
            </div>


            <!--------stray submission contents---------->
            <div class="profile-submission-content user-act" id="profile-submission-content" style="display: none;">
              <div id="content-strays" class="contentStray"></div>
              <div>
                <h3>You have no submissions yet.</h3>
                    <div class="dash-container">

                      <div class="dash-image">
                        <img src="data:image/png; base64,<%= stray.imgData.toString('base64') %>" alt="<%= stray.name %>">
                      </div>
          
                      <div class="dash-info">
                        <p>Name: </p>
                        <p>Age: </p>
                        <p>Gender: /p>
                        <p>Gender: </p>
                        <p>Breed: </p>
                        <p>Status: </p>
                      </div>
          
                      <div class="crud-btns">
                        <button>Edit</button>
                        <button>Delete</button>
                      </div>
          
                    </div>
                <button onclick="location.href='/create'">Submit a stray.</button>
              </div>

            </div>

            <!--------cart content------------->
            <div class="profile-cart-content user-act" id="profile-cart-content" style="display: none;">
              <h1>User cart content here.</h1>
            </div>

            <!--------favorites content---------->
            <div class="profile-favorites-content user-act" id="profile-favorites-content" style="display: none;">
              <h1>User favorites content here.</h1>
            </div>


          </div>

        </div>

      </div>

    </div>

  </div>

  <!-------------footer--------------->
  <%- include('partials/footer.ejs') %>


  <!--------------scripts-------------->
  <%- include('partials/scripts.ejs') %>
</body>

</html>