<!DOCTYPE html>
<html lang="en">

<%- include('partials/head.ejs') %>

  <body>

    <!-------------web banner/header--------------->
    <%- include('partials/banner.ejs') %>

      <main id="main">

        <!-- ======= Breadcrumbs ======= -->
        <div class="breadcrumbs about-container">
          <div class="container">

            <div class="d-flex justify-content-between align-items-center">
              <h1 class="display-3">Shop</h1>
              <ol>
                <li><a href="/">Home</a></li>
                <li>Shop</li>
              </ol>
            </div>
          </div>
        </div><!-- End Breadcrumbs -->

        <!-- ======= shop ======= -->
        <section class="py-5">

          <div class="menu">
            <ul id="menuTabs" class="nav nav-tabs d-flex justify-content-center" data-aos="fade-up"
              data-aos-delay="200">

              <li class="nav-item">
                <a class="nav-link active show" data-category="All">
                  <h4 class="shopCategory">All</h4>
                </a>
              </li><!-- End tab nav item -->

              <li class="nav-item">
                <a class="nav-link" data-category="Toys">
                  <h4 class="shopCategory">Toys</h4>
                </a>
              </li><!-- End tab nav item -->

              <li class="nav-item">
                <a class="nav-link" data-category="Bowls">
                  <h4 class="shopCategory">Bowls and Feeders</h4>
                </a>
                </ii><!-- End tab nav item -->

              <li class="nav-item">
                <a class="nav-link" data-category="Accessories">
                  <h4 class="shopCategory">Accessories</h4>
                </a>
              </li><!-- End tab nav item -->

              <li class="nav-item">
                <a class="nav-link" data-category="Health">
                  <h4 class="shopCategory">Care and Health Supplies</h4>
                </a>
              </li><!-- End tab nav item -->

            </ul>
          </div>

          <div class="container px-4 px-lg-5 mt-5" id="shopItemsContainer">

            <div class="row gx-4 gx-lg-5 row-cols-1 row-cols-md-2 row-cols-xl-3 justify-content-center">

              <% if (merches.length> 0) {%>
                <% merches.forEach(merch=> { %>

                  <h1 id="no-results-message" style="display: none;">No results found.</h1>
                  <div class="col mb-5 <%=merch.category%>">
                    <div class="card h-100">
                      <!-- Product image-->
                      <img class="card-img-top" src="data:image/png; base64,<%= merch.imgData.toString('base64') %>"
                        alt="<%= merch.name %>" />
                      <!-- Sale badge (optional) -->
                      <% if (merch.sale) { %>
                        <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Sale
                        </div>
                        <% } %>

                          <!-- Product details-->
                          <div class="card-body p-4">
                            <div class="text-center">
                              <!-- Product name-->
                              <h5 class="fw-bolder">
                                <%= merch.name %>
                              </h5>
                              <!-- Product description-->
                              <p class="text-muted" id="description">
                                <%= merch.description.substring(0, 150) %>...
                              </p>
                              <!-- Product price-->
                              <span class="text-muted">
                                Price: ₱ <%= merch.price %>
                              </span>
                            </div>
                          </div>

                          <!-- Product actions-->
                          <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                            <div class="text-center">
                              <a class="btn btn-outline-dark mt-auto" href="/shop-item/<%= merch._id %>">
                                <%= merch.buttonText ? merch.buttonText : 'View' %>
                              </a>
                            </div>
                          </div>
                    </div>
                  </div>

                  <% }) %>
                    <% } else { %>
                      There are no merch to display
                      <% } %>

                        <!---items added dynamically-->
            </div>
          </div>

        </section>

      </main>

      <!-------------footer--------------->
      <%- include('partials/footer.ejs') %>


        <!--------------scripts-------------->
        <%- include('partials/scripts.ejs') %>

        <!-- Add JavaScript/jQuery to handle filtering -->
        <script>
          $(document).ready(function() {
            // Handle click event on filter buttons
            $('.nav-link').click(function(e) {
              e.preventDefault(); // Prevent default anchor behavior
              var category = $(this).data('category'); // Get category from data-category attribute
              $('.col').hide(); // Hide all items
        
              // Filter items based on category
              if (category === 'All') {
                $('.col').show(); // Show all items if category is All
              } else {
                $('.' + category).show(); // Show items with matching category
              }
        
              // Check if there are no filtered items
              if ($('.col:visible').length === 0) {
                $('#no-results-message').show(); // Show no results message
              } else {
                $('#no-results-message').hide(); // Hide no results message
              }
            });
          });
        </script>
        

  </body>

</html>



