<!DOCTYPE html>
<html lang="en">
<%- include('partials/head.ejs') %>

  <body>
    <!-------------web banner/header--------------->
    <%- include('partials/banner.ejs') %>

      <main id="main">
        <!-- ======= Breadcrumbs ======= -->
        <div class="breadcrumbs about-container">
          <div class="container">
            <div class="d-flex justify-content-between align-items-center">
              <h1 class="display-3">Shop</h1>
              <ol>
                <li><a href="index.html">Home</a></li>
                <li>Shop</li>
              </ol>
            </div>
          </div>
        </div>
        <!-- End Breadcrumbs -->

        <!-- ======= item ======= -->
        <section class="py-5">
          <div class="container px-4 px-lg-5 my-5">
            <div class="row gx-4 gx-lg-5 align-items-center">
              <div class="col-md-6">
                <img class="card-img-top mb-5 mb-md-0"
                  src="data:image/png; base64,<%= merch.imgData.toString('base64') %>" alt="<%= merch.name %>" />
              </div>
              <div class="col-md-6">
                <h1 class="display-5 fw-bolder mb-2">
                  <%= merch.name %>
                </h1>
                <div class="fs-5 mb-4">
                  <span style="font-weight: bold;" id="price">Price: ₱ <%= merch.price %></span>
                </div>

                <p style="font-size: 14px;" class="justify-content-center" class="lead">
                  <b>About <%= merch.name %>: </b>
                  <br>
                  <br>
                  <%= merch.description %>
                </p>

                <p style="font-size: 14px;" class="lead">
                  <b>Brand: </b> 
                  <%= merch.brand %>
                </p>

                <p style="font-size: 14px;" class="lead">
                  <b>Quantity: </b>
                  <%= merch.quantity %>
                </p>

                <div class="d-flex">
                  <input class="form-control text-center me-3" id="inputQuantity" type="num"
                    value="" style="max-width: 3rem" />
                  <button class="btn btn-outline-dark flex-shrink-0" type="button" <% if(user) { %>

                    onclick="console.log('clicking the addItemToCart button'); addItemToCart(`<%= user._id %>`, `<%=
                        merch._id %>`, 1);"
                        <% } else {%>
                          onclick="clickSignIn();"
                          <% } %>
                            >
                            <i class="bi-cart-fill me-1"></i>
                            Add to cart
                  </button>
                </div>
              </div>
            </div>
          </div>
        </section>
      </main>

      <!-------------footer--------------->
      <%- include('partials/footer.ejs') %>

        <!--------------scripts-------------->
        <%- include('partials/scripts.ejs') %>
  </body>

</html>