<!DOCTYPE html>

<html lang="en" dir="ltr">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>MeowgAw</title> 
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
        <!---------------favicon----------------->
        <link rel="shortcut icon" type="image/png" href="/pics/icon.png">
        <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
        <link href="https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css" rel="stylesheet">
        <link rel= "stylesheet" href="/css/style.css">
        <link rel= "stylesheet" href="/css/userstyle.css">
    </head>

    <body>

        <!-------------header--------------->
		<%- include('partials/banner.ejs') %>

		<!------------user profile contents-------------->

		<div class="profile-wrapper">

			<div class="user-profile-banner">
				<img class="user-profile-pic" src="/pics/stray1.jpg">

				<div class="user-profile-details">
					<% user = JSON.parse(user); %>
					<h1>Name</h1>
					<h2><%= user.username %></h2>
					<p>Email: <%= user.email %></p>
					<p>Address: nowhere street</p>
				</div>

				<div class="user-option-btns">
					<button>Edit profile<i class="fa-solid fa-user"></i></button>
					<button>Delete Account<i class="fa-solid fa-trash"></i></button>
				</div>
			</div>

			<div class="user-profile-content">
				<div class="user-content-wrapper">

					<div class="user-activity-btns">
						<button class="user-profile-btns" onclick="showContent('blogs')">Blogs</button>
						<button class="user-profile-btns" onclick="showContent('submissions')">Submissions</button>
						<button class="user-profile-btns" onclick="showContent('favorites')">Favorites</button>
					</div>

					<div class="profile-blog-content user-act" id="profile-blog-content">
						<div class="post-blog">
							<h3>Share something with the community...</h3>
							<input placeholder="Title..." type="text"><br>
							<textarea placeholder="Content..."></textarea><br>
							<button>Post</button>
						</div>

						<div class="posted-blogs">
							<h3>You have no posts yet.</h3>
						</div>
					</div>

					<div class="profile-submission-content user-act" id="profile-submission-content" style="display: none;">
						<h3>You have no submissions yet.</h3>
						<button>Submit a stray.</button>
					</div>

					<div class="profile-favorites-content user-act" id="profile-favorites-content" style="display: none;">
						<h1>User favorite content here.</h1>
					</div>
				</div>
			</div>
		</div>

		<!-------------footer--------------->
		<%- include('partials/footer.ejs') %>

		<!--------------scripts-------------->
		<%- include('./partials/scripts.ejs') %>
	</body>
<html>
